html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
 }
body {
    background: linear-gradient(#2c003e, #4b0082, #8a2be2, #20b2aa);
    background-size: auto;
    background-attachment: fixed;
    display: grid;
    place-items: center;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
h3 {
    margin: 2px;
}
p {
    margin: 0%;
    margin-top: 0;
    font-size: larger;
}
a {
    margin: 0%;
    margin-top: 0%;
    font-size: larger;
}
.margin {
    margin-bottom: 0%;
}