
.box{
    border: 3px solid #D6E6F2;
    display: flex;
    border-radius: 10px;
}
#topBox{
    margin: auto;
    margin-top: 30px;
    font-style: verdana;
    font-size: 19px;
    width: 560px;  
}
#topBox pre{
    padding-left: 20px;
    color: #769FCD;
}
#mainBox{
    margin: auto;
    margin-top: 20px;
    height: 450px;
    width: 560px;
   
}
.topContainers{
    position: relative;
    border-bottom: 3px solid #D6E6F2;
    height: 225px;
    width: 100%;
}
.bottomContainer{
    position: relative;
    margin-top: 25px;
    height:225px;
    background-color: #D6E6F2;
}
.bottomContainer2{
    border:0px solid;
    margin-top: 25px;
    height:225px;
    
}
.font{
    font-style: verdana;
}
.font1{
    font-style: arial;
}
#image1{
    float: left;
    margin-right: 20px;
}
#image2{
    float: right;
    margin-left: 30px;
    margin-right:10px;

}
.topRightContainer{
    float: right;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 10px;
    height:225px;
    width: 185px;
}
#stuff{
    padding-left: 20px;
    padding-top: 20px;
}
.bottomLeftContainer{
    border: 0px solid #769FCD;
}
.audio{
    border: 0px solid ;
    float:left;
}
.audioBox{
    border: 2px solid #769FCD;
}
