.background{
    height: auto;
    background-color: #673b3c;
    background-image: linear-gradient(to right, #673b3c , #181e41);
}

.menus{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubutton{
    background-color: transparent;
    border: 0px;
    color: white;
    font-family: 'Quicksand';
    font-size: 18px;
    margin: 0 30px 0 30px;
    text-decoration: none;
}

.menubutton1{
    background-color: transparent;
    border: 0px;
    color: white;
    font-family: 'Quicksand';
    font-size: 18px;
    margin: 0 30px 0 30px;
    text-decoration: none;
    font-weight: bolder;
    scale: 1.1;
}

@keyframes secondappear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.project-card {
    display: flex;
    border-radius: 6px;
    background-color: rgba(235, 132, 89, 0);
    background-image: linear-gradient(to right, rgba(235, 132, 89, 0.3), rgba(234, 100, 94, 0.3));
    overflow: hidden;
    max-width: 1000px;
    margin: 50px 20%;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease;
    animation: secondappear linear;
    animation-duration: 0.5s;
}

.project-card:hover{
    transform: scale(1.05);
}

.project-text {
    display: flex;
    position: relative;
    padding: 40px 30px;
    background-color: #ffffff;
}

.text-content {
    padding-left: 20px;
    z-index: 1;
    color: #ffffff;
}

.project-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}

.role-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.project-text p {
    color: white;
    font-size: 15px;
    line-height: 1.6;
}

.project-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 20px;
    width: 500px;
}

.project-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


.GioLogo {
    background-color: #ec9857;
    background-image: linear-gradient(to right top, #ec9857, #ea625e);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

.GioLogo a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}

.ending1{
    margin: 0 20%;
}

.ending1 h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.ending1 p{
    color: rgb(230, 227, 227);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 0 20%;
    line-height: 1.5;
}

.bottom {
    background-color: black;
    height: 50px;
    margin: 0 -10px;
    margin-top: 50px;
    margin-bottom: -10px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.bottom p {
    color: rgb(121, 119, 119);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
}