@font-face {
    font-family: "Congenial Medium";
    src: url("Fonts/fonnts.com-Congenial_Medium.otf")
}

.section {
    background-color: rgba(78, 78, 78, 0.432);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.section h2 {
    font-family: "Congenial Medium", sans-serif;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.photo-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 60px;
}

.photo-item {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0;
    border-radius: 8px;
    transition: transform 0.3s ease;
    text-align: center;
}

.photo-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    transition: transform 0.3s ease;
}

.photo-item:hover img {
    transform: scale(1.08);
    z-index: 2;
}