@font-face {
    font-family: "Congenial Medium";
    src: url("Fonts/fonnts.com-Congenial_Medium.otf")
}

@font-face {
    font-family: "Congenial Light";
    src: url("Fonts/fonnts.com-Congenial_Light.otf")
}

@font-face {
    font-family: "Congenial Regular";
    src: url("Fonts/fonnts.com-Congenial_Regular.otf")
}

body {
    background-image: url("Images/background image.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100%;
}

.Profile_Box{
    position: relative;
    margin-bottom: 200px;
}

.Cover_Photo{
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
    margin-top: -1%;
}

.Cover_Photo img{
    width: 80%;
    height: 350px;
    object-fit:cover;
    border-radius: 0 0 20px 20px;
}

.Profile_Photo{
    position: absolute;
    left: 155px;
    bottom: -100px;
    z-index: 2;
}

.Profile_Photo img{
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: "Congenial Medium", sans-serif;
    font-size: 230%;
    color:white;
    position: absolute;
    left: 350px;
    bottom: -50px;
    z-index: 2;
}

.Bio {
    font-family: "Congenial Light";
    font-size: 100%;
    color:gainsboro;
    position: absolute;
    left: 350px;
    bottom: -70px;
    z-index: 2;
}

hr {
    border: none;
    height: 1px;
    width: 80%;
    background-color: white;
}

a {
    color: white;
    font-family: "Congenial Regular";
    font-size: 150%;
    text-decoration: none;
    position: relative;
    left: 130px;
    bottom: -200px;
}

.Socials-Container {
    display: flex;
    gap: 28px;
    left: 875px;
    align-items: center;
    margin: 10px auto 0 auto;
    position: absolute;
    bottom: 10px; 
}

.Socials {
    display: inline-flex;
    height: 40px;
    width: 40px;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    align-items: center;
    justify-content: center;
}

.Socials img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.Socials:hover {
    transform: scale(1.1);
}

.NavLinks {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 20px;
    width: 120px;
    text-align: center;
    background-color:hsla(120, 4%, 61%, 0.3);
    z-index: 3;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5 px rgba(0,0,0,0.1);
}

.NavLinks:hover, .NavLinks:focus {
    background-color: rgba(78, 78, 78, 0.432);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#contentFrame {
    display: block;
    margin: 25px auto 0 auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(22, 22, 22, 0.2);
    width: 80%;
    height: 1400px;
}