body {
    background-color: #2364AA;
    margin: 0;
    font-family: monospace;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    background-color: #EB5E55;
    min-height: 105vh;
}

.pfpbanner {
    position: relative;
    width: 100%;
    height: 350px; 
    background-color: #333333;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 3px solid #333333;
}

.pfpwrap {
    position: absolute;
    bottom: -15px;        
    left: 50%;
    transform: translateX(-50%);
    width: 200px;           
    height: 200px;
    border-radius: 50%;
    border: 4px solid #333333;
    overflow: hidden;
    background-color: #333333;
}

.profile-name {
    position: relative;
    top: -10px;
    text-align: center;
}

.pfp {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 60px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 48%;
}

.description-box {
    height: 300px; 
  background-color: #191308;
  border-radius: 15px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.hobby-box{
    height: 230px; 
  background-color: #191308;
  border-radius: 15px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.random-box{
    width: 48%;
  height: 550px; 
  background-color: #413C58;
  border-radius: 15px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

